body {
    background-color: red;
    background-image: linear-gradient(rgb(238, 89, 144), rgb(255, 141, 206), rgb(255, 141, 206), rgb(238, 89, 144));
    margin: 10px;
}

.borda {
    border-color: rgb(194, 73, 113);
    border-radius: 50px;
    border-style: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    padding: 10px;
    align-items: center;
}

.nome {
    padding-left: 50px;
    padding-right: 850px;
}

.info1 {
    padding-left: 30px;
    display: flex;
}

.info2 {
    padding-left: 30px;
    display: flex;
}

.info3 {
    padding-left: 30px;
    display: flex;
}

.im {
    border-radius: 1000px;
    margin: 50px;
    border: 15px;
    border-color: rgb(216, 85, 129);
    border-style: solid;
}

.perfis {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    color: rgb(126, 26, 60);
}

.perfil {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    padding-top: 100px;
    padding-left: 100px;
}

.h {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.ferramentas {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:  rgb(211, 38, 96);
    border: 0px;
}

.imgs {
    padding-top: 10px;
    width: 70px;
    height: 70px;
}

hr.new1 {
    margin: 80px;
    border: 0;
    height: 1px;
    border-top: 1px solid rgb(179, 50, 93);
    padding: 0;
}

.imgmeio{
    width: 400px;
    height: 250px;
    border: 15px;
    border-color: rgb(211, 38, 96);
    border-style: solid;
    border-radius: 10px 10px 0 10px;}

.meio{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(211, 38, 96);
}