body {
    background-color: red;
    background-image: linear-gradient(rgb(238, 89, 144), rgb(255, 141, 206), rgb(255, 141, 206), rgb(238, 89, 144));
    margin: 10px;
}

    .borda {
    border-color: rgb(194, 73, 113);
    border-radius: 50px;
    border-style: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    padding: 10px;
    align-items: center;
    }

    .nome {
    padding-left: 50px;
    padding-right: 850px;
    }

    .info1 {
    padding-left: 30px;
    display: flex;
    }

    .info2 {
    padding-left: 30px;
    display: flex;
    }

    .info3 {
    padding-left: 30px;
    display: flex;
    }

    img {
    position: static;
    }

    img{
        border-radius: 1000px;
        margin:50px ;
        border: 15px;
        border-color: rgb(216, 85, 129);
        border-style: solid;
    }

    .perfis{
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        color: rgb(126, 26, 60);
    }

    .perfil{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;
        padding-top: 100px;
        padding-left: 100px;
    }

    .h{
        font-family: 'Times New Roman', Times, serif;
        font-size: xx-large;
    }