body{
    background-color: rgb(236, 131, 166);
    margin: 10px;
}

    .borda{
        border-color: rgb(194, 73, 113);
        border-radius: 50px;
        border-style: solid;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        display: flex;
        padding: 10px;
    }

    .nome{
        padding-left: 50px;
        padding-right: 900px;
    }

    .info{
        padding-left: 10px;
    }