@media only screen and (max-width: 1700px) {
  body {
    .info1 {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
    }

    .nome {
      font-size: smaller;
      margin: 0% 35% 0% 5%;
    }

  }
}

@media only screen and (max-width: 1545px) {
  body {
    .info1 {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
    }

    .nome {
      font-size: smaller;
      margin: 0% 30% 0% 5%;
    }

  }
}

@media only screen and (max-width: 1430px) {
  body {
    .info1 {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
    }

    .nome {
      font-size: smaller;
      margin: 0% 25% 0% 5%;
    }

  }
}

@media only screen and (max-width: 1330px) {
  body {
    .info1 {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
    }

    .nome {
      font-size: smaller;
      margin: 0% 20% 0% 5%;
    }

  }
}

@media only screen and (max-width: 1245px) {
  body {
    .info1 {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
    }

    .nome {
      font-size: smaller;
      margin: 0% 15% 0% 5%;
    }
    .h {
      font-size: x-large;
    }
    .p {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: large;
    }

  }
}

@media only screen and (max-width: 1175px) {
  body {
    .info1 {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
    }
    .h {
      font-size: large;
    }
    .nome {
      font-size: smaller;
      margin: 0% 10% 0% 5%;
    }

  }
}

@media only screen and (max-width: 1110px) {
  body {
    .info1 {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
    }

    .nome {
      font-size: smaller;
      margin: 0% 5% 0% 5%;
    }

  }
}

@media only screen and (max-width: 1050px) {
  body {
    .info1 {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
    }
    .perfil {
      padding-top: 100px;
      padding-left: 50px;
    }
    
    .nome {
      font-size: smaller;
      margin: 0% 2% 0% 4%;
    }

  }
}

@media only screen and (max-width: 1008px) {
  body {
    .im {
      height: 300px;
      width: 300px;
    }

    .h {
      font-family: 'Times New Roman', Times, serif;
      font-size: large;
    }
    .p {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: large;
    }

    .text {
      font-size: large;
    }

    .imgs {
      width: 50px;
      height: 50px;
    }

    .info1 {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      font-size: smaller;
    }

    .nome {
      font-size: smaller;
      margin: 0% 10% 0% 5%;
    }

  }
}


@media only screen and (max-width: 980px) {
  body {
    .info1{
      display: none;
    }
    .miniimg1{
      height: 30px;
      width: 30px;
      margin-left: 50%;
      display: flex;
    }
    
    .miniimg{
      height: 30px;
      width: 30px;
      margin-left: 10px;
      display: flex;
    }
    .h {
      font-size:medium;
    }
    .nome {
      font-size: smaller;
      margin: 0% 2% 0% 4%;
    }
    .p {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: medium;
    }

  }
}

@media only screen and (max-width: 865px) {
  body {
    .nome {
      font-size: x-small;
      margin: 0% 2% 0% 4%;
    }

  }
}

@media only screen and (max-width: 795px) {
  body {
    .nome {
      font-size: xx-small;
      margin: 0% 2% 0% 4%;
    }

  }
}